@using _10_Models
@model User
<h1>NEW USER</h1>
<fieldset>
    <form method="post" action="~/Home/DeleteUserProceedResult">
        <label>Name or Id</label><br />
        <input type="text" name="input" /><br />
        <input type="submit" value="Delete">
    </form>
</fieldset>