@using _10_ThreeLayerProject.PL.Models
@model IEnumerable<UserModel>

<link rel="stylesheet" href="~/css/table.css" />
<h2>Users</h2>
<table class="table_dark">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    @foreach (UserModel user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FName @user.LName</td>
            <td>@user.Age</td>
        </tr>
    }
</table>
<form action="/Home/AddUser">
    <input type="submit" value="Add a user">
</form>
<form action="/Home/DeleteUser">
    <input type="submit" value="Delete  a user">
</form>
<form action="/Home/UpdateUser">
    <input type="submit" value="Update a user">
</form>
@*@await Html.PartialAsync("AddUser");*@
<div>
    <a href="~/Cookies/AddCookie">
        <img src="~/image.jpg" alt="image" width="300">
    </a>
</div>
<div>
    <h2>Message in a config file:</h2>
    <h2></h2>
    </div>
<p><a href="~/Cookies/AddCookie">Cookies page</a></p>
<p><a href="~/Calc/Index">Calculator page</a></p>
<p><a href="~/Home/Config">Config page</a></p>

