@using _10_ThreeLayerProject.PL.Models
@model UserModel
<h2>Update USER</h2>
<fieldset>
    <form method="post">
        <label>User Id:</label><br />
        <input type="text" name="Id" /><br />
        <label>First Name:</label><br />
        <input type="text" name="FirstName" /><br />
        <label>Last Name:</label><br />
        <input type="text" name="LastName" /><br />
        <label>Age:</label><br />
        <input type="number" name="Age" /><br />
        <input type="submit" value="ADD">
    </form>
</fieldset>